<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Användare
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-page="/User/Index">Information</a>
                            <a class="dropdown-item" asp-page="/User/Card">Kort</a>
                        </div>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/User/Cart">Kundvagn</a>
                    </li>
                </ul>
            </div>
    </nav>
</header>